body {
    background: rgb(223, 223, 223);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Momo Signature", cursive;
}

.titulo {
    padding: 15px;
    margin: auto;
    border-radius: 2px 2px 49px 39px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(15px);
    text-align: center;
    display: flex;
    justify-content: center;
}

.tl {
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-family: "Momo Signature", cursive;
    margin: 0;
}

.ima {
    padding: 30px;
    text-align: center;
    flex-direction: row;
}

.ima img {
    border-radius: 50%;
    width: 198px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 5px 9px 99px rgb(57, 53, 53);
}

.pp {
    background-color: rgba(255, 255, 255, 0.2);
    /* Fundo transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    position: relative;
    font-style: normal;
}

.p {
    padding-left: 2px;
    color: rgb(95, 94, 94);
    flex-direction: row;
    align-items: flex-start;
}

.p0 {
    font-size: 18px;
    color: #222;
    font-weight: 500;
    margin: 5px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.p1 {
    font-size: 16px;
    color: #222;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.p9 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 15px 10px;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.p44 {
    font-size: 27pt;
    text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    margin-top: 20px;
}

.pp2 {
    background-color: rgba(255, 255, 255, 0.2);
    /* Fundo transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    padding: 2px;
    margin: 10px auto;
    display: flex;
    position: relative;
    font-style: normal;
}

.pp1 {
    padding-left: 3px;
    display: flex;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    flex-direction: row;
    align-items: flex-start;
    font-size: 15px;
}

.pp2l {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 6px;
    background-color: rgba(255, 255, 255, 0.2);
    /* Fundo transparente */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.pp11 {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin: 5px 15px 10px;
}

.pp27 {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 15px auto;
    padding: 15px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.pppl, .ppl {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 20px auto;
    max-width: 990px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    border-radius: 38px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    padding: 29px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.fiap {
    width: 80px;
    margin-left: 10px;
    height: auto;
    border-radius: 4px;
}

.ppp {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    position: relative;
    font-style: normal;
}

.p4 {
    margin-left: 8px;
    position: relative;
    padding: 3px;
    margin: 2px;
    color: rgb(110, 110, 110);
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Prosto One', cursive;
    font-size: 21px;
}

.foo {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    min-width: 100%;
    text-align: center;
    padding: 4px;
    padding-inline-end: 4px;
    flex-direction: row;
    align-items: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

.uu {
    padding: 3px;
    margin-top: 5px;
    min-width: 10%;
    max-width: 11%;
    margin-left: 4px;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-hamburguer {
    position: absolute;
    top: 15px;
    left: 25px;
    cursor: pointer;
    z-index: 1000;
}

.menu-hamburguer div {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.menu {
    display: none;
    position: absolute;
    top: 66px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu a {
    display: flex;
    padding: 9px 19px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1)
}

.menu a:last-child {
    border-bottom: none;
}

.menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .titulo {
        flex-direction: column;
        padding: 10px;
    }

    .tl {
        font-size: 18pt;
        font-family: "Momo Signature", cursive;
    }

    .ima img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .pp, .pp2, .ppp {
        max-width: 90%;
        min-width: auto;
        margin: 10px auto;
        flex-direction: column;
    }

    .p44 {
        font-size: 18pt;
        margin-top: 15px;
    }

    .pppl, .ppl {
        max-width: 94%;
        padding: 20px;
        font-size: 17px;
    }

    .pp27 {
        max-width: 96%;
    }

    .foo {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .pp2l {
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;
        margin: 10px auto;
    }

    .fiap {
        width: 100px;
        margin: 10px auto;
    }

    .tl {
        font-size: 18pt;
        text-align: center;
    }

    .uu {
        max-width: 60px;
        margin: 10px auto;
        display: block;
    }

    .menu-hamburguer {
        top: 8px;
    }

    .menu {
        margin-top: -16px;
        left: 15px;
        width: 58%;
    }

    .menu a {
        font-size: 15px;
    }
}